body {
    background-image: url('https://cdn.pixabay.com/photo/2012/11/28/10/16/star-clusters-67616_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
}

p {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

div.outer {
    text-align: center;
    color: white;
}

div.prompt {
    display: inline-block;
}

button {
    font-family: sans-serif;
    background-color: inherit;
    text-align: center;
    color: white;
    border: none;
}